*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.mainbanner{
    height: 90vh;
    background-image: url(images_2/iStock_000039758322Large2.png);
    background-position: center;
    background-size:  auto;
    background-repeat: no-repeat;
}
.page-header {
    height: 70px;
    width:100%;
    z-index: 1000;
    transition:0.5s all;
    background-color: rgba(198, 218, 255, 0.2);
    border: 2px solid rgba(198, 218, 255, 0.3);
    box-shadow: 0px 0px 20px #fff
}

@media (max-width:320px) {
    .mainbanner,
    .container,
    .main-footer,
    .col col-1-3{
        position: absolute;
        background: none;
        transition: none;
        box-shadow: none;
    }
}

.page-header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(198, 218, 255, 0.2);
}

@media (max-width:760px) {
    .page-header {
        height:auto;
        min-height:120px;
    }

    .col col-1-3.main-footer {
        justify-content:center;
        flex-direction: column;
        padding:30px 0;
    }
}

.page-nav {}
.page-nav-list {
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    align-items:center;
}
.page-nav-list li {}
.page-nav-list a {
    display: block;
    padding:15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition:0.5s all;
    position: relative;
    color: rgba(61, 77, 120, 0.9);
}

.page-nav-list:last-child(a){
    font-size: 30px;
}
.page-nav-list a:before {
    content:'';
    position: absolute;
    left:50%;
    right:50%;
    bottom:0;
    background: #fff;
    height:2px;
    transition:0.5s all;
}
.page-nav-list a:hover {
    color:#fff;
}
.page-nav-list a:hover:before {
    left:0;
    right:0;
}

h1{
    display: block;
    padding:15px 20px;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.line{
    height: 2px;
    width: 200px;
    border-radius: 5%;
    box-shadow: 0px 0px 20px #fff;
    background: white;
    margin-left: 22px;
    margin-top: 3px;
    background-color: rgba(198, 218, 255, 1);
}
.main-footer {
    height: 10vh;
    /*background: rgba(62, 111, 206, 0.6);*/
    background-image: url(images_2/iStock_000039758322Large2.png);
    box-shadow: 0px 0px 20px #fff;
    display:flex;
}
.main-footer {
    display: flex;
    align-content: right;
}
.main-footer {

}
.main-footer .copyright {
    font-size: 14px;
    color: #fff;
}

.copyright{
    position: relative;
    left: 20px;
    top: 10px;
}

.main-footer.social-icons {
    display: inline-block;
    align-content: right;
}

.social-icons li {
    display: inline-block;
}

.social-icons li .social {
    width: 35px;
    height: 35px;
    text-indent: -999px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}
.box {
    height:400px;
    width: 250px;
    display: inline-block;
    align-content: center;
    border-radius: 10px;
    background-color: rgba(198, 218, 255, 0.1);
    border: 4px solid rgba(198, 218, 255, 0.3);
    justify-content: space-between;
    position: relative;
    left: 30%;
    top: 30px;
    margin: 5px;
}

@media (max-width:960px) {
    .page-header {
        height:auto;
        min-height:120px;
    }

    .col col-1-3.main-footer {
        justify-content:center;
        flex-direction: column;
        padding:10px 0;
    }
}

@media (max-width:1280px) {
    .page-header {
        height:auto;
        min-height:120px;
    }

    .col col-1-3.main-footer{
        justify-content:center;
        flex-direction: column;
        padding:10px 0;
    }
}
.col col-1-3 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.boxWeather span{
    display: block;
}

.temperature{
    font-size: 120px;
    height: 100px;
    width: 150px;
    text-align: right;
    color: #FFEB3B;
    text-shadow: 2px 2px 5px #FF9800;
    padding-left: 5px;
}
.weather-icons{
    float: right;
    position: relative;
    top: -40px;
    padding-right: 5px;
}
.weatherDataresult_1,
.weatherDataresult_2,
.weatherDataresult_3,
.weatherDataresult_4{
    float: right;
    padding-top: 80px;
    font-size: 18px;
    /*text-transform: uppercase;*/
    line-height: 30px;
    color: #fff;
    font-weight: normal;
    position: absolute;
    right: 10px;
    text-align:right;
}
.weatherData{
    float: left;
   position: absolute;
    bottom: 20px;
    left: 10px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight:bold;
}
.day{
    /*padding-top: 10px;*/
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    position: relative;
    top:15px;
    right: 15px;
}
.icon{
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: #FF9800;*/
    position: absolute;
    top:40px;
    left: 360px;
    animation-name: preloader_1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes preloader_1 {
    50% {
          transform: rotate(360deg);
      }
}
.icon2{
    position: absolute;
    top:15px;
    left: 340px;
    animation-name: preloader_2 ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes preloader_2  {
    50% {
        transform: translateY(-10px);
        transform: translateY(20px);
    }
}
.icon3{
    position: absolute;
    top:15px;
    left: 420px;
    animation-name: preloader_3 ;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes preloader_3 {
    50% {
        transform: translateX(70px);
        transform: translateX(-20px);
    }
}
#czas{

    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 300px;
    color: rgba(61, 77, 120, 0.9);
}








