*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


html { font-size: 62.5%; }

.page-header {
    height: 10vh;
    width:100%;
    background-color:rgba(198, 218, 255, 0.2);
    border: 2px solid rgba(198, 218, 255, 0.3);
    box-shadow: 0 0 1em gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainheder{
    color: rgba(61, 77, 120, 0.9);
}

.page-nav {}
.page-nav-list {
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
}
.page-nav-list li {}
.page-nav-list a {
    display: block;
    padding:15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition:0.5s all;
    color: rgba(61, 77, 120, 0.9);
}

.page-nav-list a:before {
    content:'';
    background: #fff;
    height:2px;
    transition:0.5s all;
}
.page-nav-list a:hover {
    color:#fff;
}
.page-nav-list a:hover:before {
    left:0;
    right:0;
}
.searchform{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(61, 77, 120, 0.9);

}
.name{
    border-radius: 5px;
    height: 30px;
    width: 300px;

}

#searchButton{
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: rgba(61, 77, 120, 0.9);
    background-color: #fff;
    text-transform: uppercase;
}
.icon{
    position: absolute;
    top:60px;
    left: 60px;
    animation-name: preloader_1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes preloader_1 {
    100% {
        transform: rotate(360deg);
    }
}
.icon2{
    position: absolute;
    top:70px;
    left: 40px;
    animation-name: preloader_2 ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes preloader_2  {
    50% {
        transform: translateY(-10px);
        transform: translateY(20px);
    }
}
.icon3{
    position: absolute;
    top:80px;
    left: 150px;
    animation-name: preloader_3 ;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes preloader_3 {
    50% {
        transform: translateX(70px);
        transform: translateX(-20px);
    }
}


/*......*/

@media (min-width:320px) and (max-width: 768px) and (orientation:landscape) {

    #WarsawBox,
    #NewYorkBox,
    #LondonBox{

        margin-left: 85%;
    }
}
    @media (min-width: 768px) and (orientation:portrait) {

        #WarsawBox,
        #NewYorkBox,
        #LondonBox {
            margin-left: 85%;
        }
    }


@media (min-width:320px) and (max-width: 768px) {

    .page-header{
        font-size: 0.5em;
        width:100%;
    }
    .icon,
    .icon2,
    .icon3{
        display: none;
    }
    .name{
        height: 25px;
        width: 140px;
    }
    #searchButton {
        width: 50px;
        height: 20px;
    }
    .page-nav-list a{

        padding:5px;
        display: inline-block;
        flex-wrap: wrap;
    }

    .row {
         flex-direction: column;
         width: 100%;

     }


    .row .col,
    .row .col-1-3{
        text-align: center;
        margin-bottom:10px;
        width:100%;
    }

    .col {
        display: flex;
        flex-direction: column;
    }
}


.main_banner{
    height: 100%;
    width: 100%;
    background-image: url(images_2/one.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    box-shadow: 0 0 5px rgba(61, 77, 120, 0.9);
}


.row {
    display: flex;
}
.row .col {
    flex-grow: 1;
    padding:0 10px;
}
.row .col-1-3 {
    width:35%;

}
.main-footer {
    height: 5vh;
    background-color: rgba(198, 218, 255, 0.2);
    box-shadow: 0px 0px 20px #fff;
    display:flex;
}
.main-footer {
    display: flex;
    align-content: right;
}
.main-footer {

}
.main-footer .copyright {
    font-size: 14px;
    color: rgba(61, 77, 120, 0.9);
}

h1{
    display: block;
    padding:15px 20px;
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.line{
    height: 2px;
    width: 200px;
    border-radius: 5%;
    box-shadow: 0px 0px 20px #fff;
    background: white;
    margin-left: 40px;
    margin-top: 3px;
    background-color: rgba(198, 218, 255, 1);
}

.box {
    height:450px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(198, 218, 255, 0.1);
    border: 4px solid rgba(198, 218, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    margin: 15px;

}

@media (min-width:1024px) {
    .page-header {
        height:auto;
        min-height:120px;
        width: 100%;
    }

    .col col-1-3.main-footer{
        justify-content:center;
        flex-direction: column;

    }


    .box{
        margin: 5px;
    }

    .main_banner{
        width: 100%;
        margin: 0;
    }
}
.col-1-3 {
    display: flex;
    justify-content: center;

    margin-top: 80px;
}



.boxWeather span{
    display: block;
}

.temperature{
    font-size: 120px;
    height: 100px;
    width: 150px;
    text-align: right;
    color: #FFEB3B;
    text-shadow: 2px 2px 5px #FF9800;
    padding-left: 5px;
    margin-bottom: 15px;
}
.weather-icons{
    float: right;
    position: relative;
    top: -40px;
    padding-right: 5px;
}
.weatherDataresult_1,
.weatherDataresult_2,
.weatherDataresult_3,
.weatherDataresult_4{
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    font-weight: normal;
    text-align:right;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding-top: 80px;
    padding-right: 50px;
}

.weatherDataresult_1 span,
.weatherDataresult_2 span,
.weatherDataresult_3 span {
    width: 140px;
    display: block;
    margin: auto;
    text-align: center;

}
.weatherDataresult_4 span {
    width: 140px;
    display: inline-block;
    margin: auto;
    text-align: center;

}
.weatherData{
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight:bold;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 80px;
    padding-left: 5px;

}

.panelWhather{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.day{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;

}

.copyright{
    position: relative;
    left: 20px;
    top: 10px;
}






